.container {
    margin: 10px;
    display: flex;
    gap: 20px;
    min-height: 500px;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px dashed #6e6e6eb3;
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    width: 215px;
    position: sticky;
    top: 85px;
}

.details div {
    display: flex;
    gap:10px;
    line-height: 17px;
}

.details div span {
    color: #fe5d42;
} 

.details button {
    width: 100%;
    font-size: 15px;
    height: 30px;
    margin-top: 10px;
    font-family: "Sansation";
}

.products {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 90%;
}