.container {
  display: flex;
  gap: 20px;
  padding: 15px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 1000px;
}



