.container {
  display: flex;
  gap: 20px;
  padding: 15px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 1000px;
}

@media (max-width: 764px){
  .container{
    gap: 5px;
    flex-direction: column-reverse;
  }
  .list {
    gap: 20px;
    margin: auto;
    width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

