.container {
  display: flex;
  justify-content: space-between;
  border: 2px dashed #6e6e6eb3;
  border-radius: 10px;
  padding: 20px;
  height: 80px;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.container img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.container h4 {
  margin: 0;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
  line-height: 30px;
}

.buttonsContainer button {
  font-size: 1rem;
  width: 30px;
  height: 30px;
}
