.categories {
    display: flex;
    flex-direction: column;
    border: 2px dashed #6e6e6eb3;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    height: 220px;
    width: 180px;
    gap: 15px;
}

.head {
    color: #fe5d42;
    display: flex;
    gap: 5px;
    line-height: 15px;
}

.listItem {
    cursor: pointer;
    font-weight: 400;
    text-wrap: nowrap;
    padding: 3px;
    transition: color 0.2s ease, font-weight 0.2s ease;
}

.listItem:hover{
    color: #fe5d42;
}

.active {
    font-weight: bold;
    background-color: #ffa6977b;
    color: #fe5d42;
    border-radius: 10px;
}

.inactive {
    font-weight: 400;
    color: inherit;
}

@media (max-width: 764px){
    .categories {
        width: 100%;
        height: fit-content;
        padding: 10px;
        max-width: 365px;
        margin-bottom: 20px;
    }
    .categories ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .listItem {
        font-size: 0.7rem;
    }
}