
.card {
  display: flex;
  flex-direction: column;
  border: 2px dashed rgba(88, 88, 88, 0.525);
  width: 320px;
  height: 400px;
  border-radius: 10px;
  margin: auto;
  padding: 15px;
}

.card img {
  width: 250px;
  height: 250px;
  align-self: center;
  object-fit: contain;
  margin-bottom: 15px;
}

.card h4 {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
