
.card {
  display: flex;
  flex-direction: column;
  border: 2px dotted #fe5d42;
  width: 270px;
  height: 400px;
  border-radius: 10px;
  margin: auto;
  padding: 15px;
}

.card img {
  width: 250px;
  height: 250px;
  align-self: center;
  object-fit: contain;
  margin-bottom: 15px;
}

.card h4 {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  color: rgb(70, 70, 70);
}

.actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.actions a {
  font-size: 1.5rem;
  height: 30px;
  width: 30px;
  color: #fe5d42;
  cursor: pointer;
}

.actions div {
  display: flex;
  align-items: center;
}

.actions div span {
  width: 20px;
  text-align: center;
  margin: 0 10px;
}

.actions div button {
  background-color: #fe5d42;
  color: white;
  border: none;
  font-size: 1.2rem;
  height: 30px;
  width: 30px;
  line-height: 30px;
  padding: 2px;
  border-radius: 8px;
  cursor: pointer;
}

