.searchContainer {
  padding: 15px;
  display: flex;
}

.searchContainer input {
  font-family: "Sansation", sans-serif;
  border: 2px dashed #6e6e6eb3;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin-right: 25px;
  outline: none;
  transition: border-color 0.3s ease;
}

.searchContainer input:focus {
  border-color: #fe5d42;
}

.searchContainer button {
  background-color: #fe5d42;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

.searchContainer button:hover {
  background-color: #c74a34;
  transition: background-color 0.3s ease;
}

@media (max-width: 764px){
  .searchContainer {
    width: 100%;
    max-width: 400px;
  }

  .searchContainer input {
    margin-right: 15px;
  }

  .searchContainer button {
    width: 50px;
    height: 50px;
  }

}
