.searchContainer {
  padding: 15px;
  display: flex;
}

input {
  border: 2px dashed #6e6e6eb3;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  margin-right: 25px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #fe5d42;
}

button {
  background-color: #fe5d42;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #c74a34;
  transition: background-color 0.3s ease;
}
